{% doc %}
  Renders a pill input component for product options.

  @param {string} id - Unique input id
  @param {string} name - Input name
  @param {object} value - ProductOptionValue object with name, selected, available properties
  @param {string} product_form_id - Id of the form associated with the input
  @param {boolean} [option_disabled] - Default disabled status
  @param {string} [label_unavailable] - Label to render when the option is disabled
  @param {string} [additional_props] - Additional properties to attach to the input
  @param {boolean} [disabled] - Completely disable the input

  @example
  {% render 'pill-input', id: input_id, name: input_name, value: input_value, product_form_id: product_form_id %}
{% enddoc %}
{%- capture classes -%}
  {% if option_disabled or disabled %}
    disabled opacity-45
  {% endif %}
{%- endcapture -%}
<div>
  <input
    type='radio'
    id='{{ id }}'
    name='{{ name }}'
    value='{{ value | escape }}'
    form='{{ product_form_id }}'
    {% if value.selected %}
      checked
    {% endif %}
    {{ additional_props }}
    class='sr-only peer'
    {% if disabled %}
      disabled
    {% endif %}
  >
  <label
    for='{{ id }}'
    class='text-foreground-secondary w-full inline-flex items-center justify-center p px-5 py-2 rounded-full border border-border-01 border-solid {{ classes }} text-center peer-checked:border-foreground peer-checked:bg-background bg-background-secondary cursor-pointer transition duration-300 ease-in-out '
  >
    {{ value.name -}}
    {%- unless value.available -%}
      {{ label_unavailable }}
    {%- endunless -%}
  </label>
</div>

{% comment %}
  <input
    type='radio'
    id='{{ input_id }}'
    name='{{ input_name }}'
    value='{{ value | escape }}'
    form='{{ product_form_id }}'
    {% if value.selected %}
      checked
    {% endif %}
    {% if option_disabled %}
      class='disabled opacity-45'
    {% endif %}
    {{ input_dataset }}
  >
  <label for='{{ input_id }}'>
    {{ value -}}
    {{ label_unavailable }}
  </label>
{% endcomment %}
