{%- capture spacing_token -%}
  {%- render '@spacing-padding', spacing_settings: block.settings -%}
{%- endcapture -%}

{%- if request.page_type == 'index' -%}
  <h1 class='inline-flex'>
{%- endif -%}
<a href='{{ routes.root_url }}' class='{{ spacing_token }} h6 uppercase inline-flex'>
  {%- if settings.logo != blank -%}
    <div
      class='inline-flex w-auto h-[25px] md:h-auto md:w-(--header-logo-width)'
      style='--header-logo-width: {{ settings.logo_width }}px'
    >
      {%- assign logo_alt = settings.logo.alt | default: shop.name | escape -%}
      {%- assign logo_height = settings.logo_width | divided_by: settings.logo.aspect_ratio -%}
      {% capture sizes %}(max-width: {{ settings.logo_width | times: 2 }}px) 50vw, {{ settings.logo_width }}px{% endcapture %}
      {% capture widths %}{{ settings.logo_width }}, {{ settings.logo_width | times: 1.5 | round }}, {{ settings.logo_width | times: 2 }}{% endcapture %}
      {%- render 'image',
        width: 600,
        image: settings.logo,
        height: logo_height,
        alt: logo_alt,
        sizes: sizes,
        widths: widths,
        preload: true,
        object_fit: 'contain'
      -%}
    </div>
  {%- else -%}
    <span class='h2'>{{ shop.name }}</span>
  {%- endif -%}
</a>
{%- if request.page_type == 'index' -%}
  </h1>
{%- endif -%}

{% schema %}
{
  "name": "t:names.logo",
  "settings": [
    {
      "type": "paragraph",
      "content": "t:content.edit_logo_in_theme_settings"
    },
    {
      "type": "header",
      "content": "t:content.padding"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 8,
      "step": 1,
      "label": "t:spacing.padding_top",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_inline_end",
      "min": 0,
      "max": 8,
      "step": 1,
      "label": "t:spacing.padding_inline_end",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 8,
      "step": 1,
      "label": "t:spacing.padding_bottom",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_inline_start",
      "min": 0,
      "max": 8,
      "step": 1,
      "label": "t:spacing.padding_inline_start",
      "default": 0
    }
  ]
}
{% endschema %}
